.body {
    font-family: Arial;
    overflow: scroll;
    background: linear-gradient(to right, rgba(0, 110, 135, 1), rgba(0, 140, 173, 0.75), rgba(0, 150, 186, 0.51), rgba(0, 163, 227, 0.19));
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: solid white 2px;
}


.logo-container {
    order: 1;
}

.menu-container {
    order: 2;
    position: relative;
}

.menu-container nav {
    display: flex;
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.vertical-menu li {
    margin-right: 20px;
}


.btnCreation {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 70px;
}

.rectangle-haut {
    background: linear-gradient(to right, rgba(0, 110, 135, 1), rgba(0, 140, 173, 0.75), rgba(0, 150, 186, 0.51), rgba(0, 163, 227, 0.19));
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin: 0;
    position: relative;
    z-index: 2;
    border-top: solid white 2px;
}


.all-text {
    max-width: 600px;
    margin: 175px auto 0 auto; /* Ajout de margin-top: 20px; */
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.all-text h3 {
    margin-bottom: 10px;
}

.banniere {
    width: 800px;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    z-index: 1;
}

.rectangle-gauche,
.rectangle-milieu,
.rectangle-droit {
    width: calc(33.33% - 20px);
    margin: 0 10px;
}

.nbrEtu{

    transform: translate(-50%,-50%);
    font-size: small;
    position: absolute;
    left: 20%;

}


.notification{

    width: 25px;
    height: 25px;
    margin-bottom: 10px;

}

.utilisateur{

    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 15px;

}

.rectangle-mid {
    width: 880px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: absolute;
    top: calc(20% + 30px);
    left: 835px;
    margin-left: -450px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.etu {
    background-color: #EBF4FB;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style-type: none;
}


ul {
    padding: 0;
    margin: 0;
}

#rechercheForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

#dataTable {
    width: 100%;
    border-spacing: 0;
    margin: 20px auto;
}

#dataTable th,
#dataTable td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#dataTable th.colonne {
    background-color: rgba(0, 140, 173, 0.75);
    color: black;
}

#dataTable tbody tr:nth-child(even) {
    background-color: rgba(0, 150, 186, 0.51);
}

#dataTable tbody tr:nth-child(odd) {
    background-color: rgba(0, 163, 227, 0.19);
}

#dataTable tbody tr:hover {
    background-color: white;
}

#burgerMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

#profileInfo {
    padding: 20px;
}

.menu-content h2{

    text-align: center;

}
.menu-burger {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.menu-burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #343a40;
    display: block;
    transition: 0.3s;
}

.menu-burger a:hover {
    color: #007bff;
}

.modifProfil {
    display: block;
    margin: 0 auto; /* Centre horizontalement */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 15px;
    font-weight: bold;
    border-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
}

.modifProfil:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 15px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 10px #333333;
}


.separator-line {
    border-top: 1px solid #a1a1a1; /* Couleur grise */
    width: 90%; /* Prend toute la largeur */
    margin-top: 10px; /* Ajustez la marge supérieure selon vos préférences */
    margin-bottom: 10px; /* Ajustez la marge inférieure selon vos préférences */
}


.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.test{

    font-size: 20px;
    margin-left: 50px;

}

.menu-content {
    padding: 20px;
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.btnAjoutEtu {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
}

.btnAjoutEtu:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.btnRechercheEtu {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
    display: flex;
}

.btnRechercheEtu:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}





#account-photo {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#account-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgba(0, 140, 173, 0.75); /* Couleur avec transparence à 75% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 15px;
    z-index: 999;
}

#account-dropdown input {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white; /* Blanc */
    background-color: rgba(0, 140, 173, 0.75); /* Couleur avec transparence à 75% */
    border: none;
    border-radius: 30px;
    margin: 10px;

}


#account-dropdown input:hover {
    background-color: rgb(128, 128, 128); /* Bleu foncé au survol */
}

/* Style pour l'image utilisateur dans le menu */
#account-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Style général du pied de page */
.footer {
    margin-top: 20%;
    background-color: rgba(0, 110, 135, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Style du contenu du pied de page */
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style des sections du pied de page */
.footer-section {
    flex: 1;
    margin: 10px;
}

/* Souligner les grands titres */
.footer-section h2 {
    text-decoration: underline;
}

/* Style des liens dans la section Liens */
.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

/* Style du bas du pied de page */
.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #004080; /* Bleu légèrement plus clair pour la bordure supérieure */
}

/* Style du texte du bas du pied de page */
.footer-bottom p {
    margin: 0;
}



