/* Styles généraux */
.body {
    font-family: Arial;
    overflow: scroll;
    background: linear-gradient(to right, rgba(0, 110, 135, 1), rgba(0, 140, 173, 0.75), rgba(0, 150, 186, 0.51), rgba(0, 163, 227, 0.19));
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: solid white 2px;
}

.logo-container {
    order: 1;
}

.menu-container {
    order: 2;
    position: relative;
}

.menu-container nav {
    display: flex;
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.vertical-menu li {
    margin-right: 20px;
}

#account-photo {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#account-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgba(0, 140, 173, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 15px;
    z-index: 999;
}

#account-dropdown button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 140, 173, 0.75);
    border: none;
    border-radius: 30px;
    margin: 10px;
}

#account-dropdown button:hover {
    background-color: rgb(128, 128, 128);
}

#account-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.btnCreation {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 70px;
}

.notification {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.utilisateur {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.titlePrinci {
    text-align: center;
    color: white;
    font-weight: bold;
}

.body-container {
    position: relative;
    text-align: center;
}

.rectangle-haut,
.rectangle-mid,
.rectangle-bas {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
}

.rectangle-haut {
    height: 80px;
}

.rectangle-mid {
    margin-top: 50px;
    position: relative;
    top: -40px; /* Ajustez la valeur selon vos besoins */
    z-index: 1;
}

.rectangle-bas {
    margin-top: 10px;
}

.all-text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rectangleNbr {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: #0f9bb4;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}



.nbrEtu,
.nbrEnt,
.nbrOff,
.nbrPers {
    transform: translate(-50%, -50%);
    font-size: small;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.nbrEtu { left: 10%; }
.nbrEnt { left: 30%; }
.nbrOff { left: 50%; }
.nbrPers { left: 70%; }

.rectangleNbr h3 {
    transform: translate(-50%, -50%);
    font-size: small;
    position: absolute;
    top: 5%; /* Ajustez la valeur selon vos besoins */
    left: 50%;
    color: white;
}


.titre {
    padding-left: 50px;
    color: black; /* Couleur principale */
    font-weight: bold;
}

.description {
    padding-left: 50px;
    color: black; /* Texte en noir */
}

.button-filtre button {
    text-decoration: none;
    background-color: #0f9bb4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    display: inline; /* Aligne les éléments en ligne */
    margin-left: 70px; /* Décale tous les boutons de 10 pixels du bord gauche */
}

.button-filtre button:hover {
    text-decoration: none;
    background-color: #0f9bb4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: black;
    font-weight: bold;
    display: inline; /* Aligne les éléments en ligne */
    margin-left: 70px; /* Décale tous les boutons de 10 pixels du bord gauche */
    box-shadow: 0 0 10px #333333;
}

.ajoutAdministration {
    text-decoration: none;
    background-color: #0f9bb4;
    border: none;
    border-radius: 30px;
    padding: 10px; /* Ajustez la valeur selon vos besoins */
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner le texte à gauche */
    justify-content: center;
    margin-left: 15px !important; /* Ajout de !important */
    align-self: flex-start; /* Aligner le bouton à gauche */
}

.ajoutAdministration:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px; /* Ajustez la valeur selon vos besoins */
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 10px #333333;
}



/* Styles pour le tableau */
#dataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#dataTable th,
#dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#dataTable th {
    background-color: #f2f2f2;
}



/* Style général du pied de page */
.footer {
    background-color: rgba(0, 110, 135, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: static;
    bottom: 0;
}

/* Style du contenu du pied de page */
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style des sections du pied de page */
.footer-section {
    flex: 1;
    margin: 10px;
}

/* Souligner les grands titres */
.footer-section h2 {
    text-decoration: underline;
}

/* Style des liens dans la section Liens */
.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

/* Style du bas du pied de page */
.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #004080; /* Bleu légèrement plus clair pour la bordure supérieure */
}

/* Style du texte du bas du pied de page */
.footer-bottom p {
    margin: 0;
}

.resNbrEtu{

    margin-top: 40px;

}

.button-filtre button .nbrPersonnel {
    display: inline-block;
    margin-left: 5px; /* Ajustez la marge selon vos besoins */
}