/* Styles généraux */
.body {
    font-family: Arial;
    overflow: scroll;
    /*background: linear-gradient(to right, rgba(0, 110, 135, 1), rgba(0, 140, 173, 0.75), rgba(0, 150, 186, 0.51), rgba(0, 163, 227, 0.19));
    */
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-container {
    flex-grow: 1;
    position: relative;
    margin-bottom: 20%;
}

.btnCreation {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .rectangle-gauche,
    .rectangle-milieu,
    .rectangle-droit {
        width: 100%;
        margin: 0;
    }
}

.rectangle-mid {
    width: 880px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: absolute;
    top: calc(20% + 30px);
    left: 835px;
    margin-left: -450px;
    margin-bottom: 10%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btnAjoutEntreprise {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
}

.btnAjoutEntreprise:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.btnAjoutOffre {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
}

.btnAjoutOffre:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.btnAfficherOffre {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
}

.btnAfficherOffre:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.btnAfficherEntreprise {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
}

.btnAfficherEntreprise:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.rechercheOffre, .rechercheEntreprise {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
    display: flex;
}

.rechercheOffre:hover, .rechercheEntreprise:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.offre, .entreprise {
    background-color: rgba(0, 163, 227, 0.19);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 150, 186, 0.51);
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    margin-top: 2%;
}

.affichEntreprise {
    display: none;
}

.ajoutEtu {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
}

