/* Reset des styles pour éviter les différences entre navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des éléments du formulaire */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style des sélecteurs personnalisés */
.formation-rectangle,
.role-rectangle {
    position: relative;
}

.select-rectangle::after {
    content: '\25BC'; /* flèche vers le bas */
    font-size: 20px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Style du bouton */
.button {
    text-align: center;
}

button {
    text-decoration: none;
    color: white;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    transition: box-shadow 0.3s ease;
    margin-top: 5px;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #0f9bb4;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px #333333;
}

.error-message {
    color: red;
}
