#popUpEtu .popup-content {
    max-height: 90vh;
    overflow-y: scroll;
}

#formulaireAjoutEtudiant {
    width: 400px;
    margin: 20px auto; /* Ajoutez une barre de défilement au besoin */
    height: 100vh;
}


.btnRetour{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: 45px;
    border-radius: 45px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

.btnRetour:hover{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

.label-text {
    font-weight: bold;
    margin-top: 10px;
}

/* Style des champs de saisie */
.input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ajoutEtudiant {
    background-color: #0f9bb4;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 38%;
    border-radius: 45px;
    font-weight: bold;

}

#ajoutEtudiant:hover {
    background-color: #0f9bb4;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}

/* Style pour le message d'erreur */
#message {
    color: red;
    margin-top: 10px; /* Ajoutez un peu d'espace au-dessus du message d'erreur */
}

/* Supprimer les puces des listes à puces */
ul {
    list-style: none;
    padding: 0;
}

.titre1 {
    color: #0f9bb4;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.error-message {
    color: red;
}
