/* styles.css */
.btnRetour{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: 45px;
    border-radius: 45px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

.btnRetour:hover{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    z-index: 999;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.offre {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
}


 .error-message {
     color: red; /* Couleur du texte pour le message d'erreur */
     font-weight: bold; /* Texte en gras */
 }

