.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #ff9033, #F79BFF, #7795FF, #0F44FF);
}

.square-link {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: inherit; /* Utiliser la couleur du texte parent (blanc) */
    margin: 0 40px; /* Espace entre les carrés */
}

.quitter-square {
    width: 150px; /* Largeur du carré */
    height: 50px; /* Hauteur du carré */
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 30px;
}

.quitter-square p {
    margin: 0;
    font-size: 1rem; /* Taille du texte */
}

.btnAdmin {

    position: absolute;
    top: 50%;
    left: 40%;
    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    transform: translate(-50%,-50%);
    font-size: 16px;
}

.btnEtu{

    position: absolute;
    top: 50%;
    left: 60%;
    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    transform: translate(-50%,-50%);
    font-size: 16px;


}

.title{

    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;


}

.btnFermer{

    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 5%;
    left: 5%;
}