.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #ff9033, #F79BFF, #7795FF, #0F44FF);
}


.perso{

    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
    z-index: 1;
}

.princi-rectangle {
    width: 450px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 300px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(255, 255, 255, 0.3); /* Couleur de fond du rectangle */
    position: absolute;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 0;
}

.cercle {
    width: 100px; /* Largeur du cercle */
    height: 100px; /* Hauteur du cercle (même que la largeur pour un cercle parfait) */
    background-color: #7795FF; /* Couleur de fond du cercle */
    border-radius: 50%; /* Utilisation de border-radius pour créer un cercle */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
    z-index: 2;

}

.id-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    position: absolute;
    top: 40%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */


}

.petit-rectangle{

    width: 50px; 
    height: 50px;
    background-color: #452EA3;
    float: left;


}

p.text-id{

    position: absolute;
    left: 20%;

}


.mdp-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    position: absolute;
    top: 65%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */

}


.petit2-rectangle{

    width: 50px; 
    height: 50px;
    background-color: #452EA3;
    float: left;

}

p.text-mdp{

    position: absolute;
    left: 20%;

}

.perso2{

    width: 50px;
    height: 50px;
    
}

.cadena{

    width: 50px;
    height: 40px;
    position: absolute;
    top: 10%;

}


.email{

    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 55%;
    height: 40px;
    width: 240px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;


}

.mdp{

    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 55%;
    height: 40px;
    width: 240px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    z-index: 1;


}

.btnConnexion{

    text-decoration: none;
    border: none;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 90%;
    left: 50%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);

}


p.mdp-oublie{

    font-size: 12px;
    position: absolute;
    top: 75%; /* Centrer verticalement */
    left: 70%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
}

.link-p{

    text-decoration: none;
    color: inherit;

}

div.rec-connection{

    width: 120px;
    height: 50px;
    background-color: rgb(255, 255, 255,0.3);
    position: absolute;
    top: 100%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 0;

}

.btnCreation {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
}

div.rec-connection {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 40px;
    z-index: 3;
    transform: translate(-50%,-50%);

}


.p-connection{

    text-align: center;
    color: white;
}

.link-connection{

    text-decoration: none;
    color: white;

}


.input-mdp{

    position: absolute;
    top: 12px;
    right: 30px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white;

}

.input-mail{
    position: absolute;
    top: 12px;
    right: 30px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white;


}

.btnRetour{

    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 5%;
    left: 5%;

}

.connexionAdmin{

    text-decoration: none;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;


}









