body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, rgba(0, 110, 135, 1), rgba(0, 140, 173, 0.75), rgba(0, 150, 186, 0.51), rgba(0, 163, 227, 0.19));
}



.content h1 {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 5%;
    left: 50%;
}

.editable {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.annulerModif {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

.reinitBtn,
.sauvegardeBtn {
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sauvegardeBtn {
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;}

.logo-container {
    order: 1;
}

.menu-container {
    order: 2;
    position: relative;
}

.menu-container nav {
    display: flex;
}

.vertical-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.vertical-menu li {
    margin-right: 20px;
}

.btnCreation {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 70px;
}

.notification {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.utilisateur {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .vertical-menu {
        margin-top: 10px;
    }

    .rectangle-gauche,
    .rectangle-milieu,
    .rectangle-droit {
        width: 100%;
        margin: 0;
    }
}

#account-photo {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#account-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: rgba(0, 140, 173, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 15px;
    z-index: 999;
}

#account-dropdown button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 140, 173, 0.75);
    border: none;
    border-radius: 30px;
    margin: 10px;
}

#account-dropdown button:hover {
    background-color: rgb(128, 128, 128);
}

#account-dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    display: flex; /* Utilisation de flexbox pour aligner les enfants en ligne */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    border-top: solid white 2px;
}

.container-content {
    flex: 1;
}


.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.information div {

    box-sizing: border-box;
    margin-bottom: 10px;
}

.information label,
.information input[type="text"],
.information input[type="password"],
.information input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}


.footer {
    margin-top: 100px;
    background-color: #00738C;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sauvegardeBtn,
.reinitBtn {
    background-color: rgb(15, 155, 180);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.transparent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
}

.transparent-button img {
    width: 24px;
    height: 24px;
}

.modif {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    bottom: 20%;
}