.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #0f9bb4, #30b1c9, #47c4de, #70dcf6);
}

.square-link {
    text-decoration: none;
    color: inherit;
    margin: 0 40px;
}

.quitter-square {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 30px;
}

.quitter-square p {
    margin: 0;
    font-size: 1rem;
}


.princi-rectangle {
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    z-index: 0;
}

.nom-rectangle{
    position: absolute;
    background-color: #0f9bb4;
    width: 300px;
    height: 50px;
    transform: translate(-50%,-50%);
    bottom: 75%;
    left: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;

}

p.text-nom{
    position: absolute;
    left: 10px;
}

.input-nom {
    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    z-index: 999;
}

.prenom-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-50%,-50%);
    position: absolute;
    bottom: 63%;
    left: 25%;
    z-index: 0;
}

p.text-prenom{
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.input-prenom {
    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.formation-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 51%;
    left: 25%;
}

.formation-text{
    position: absolute;
    top: 18px;
    right: 225px;
}

.selectFormation{
    background-color: #0f9bb4;
    position: absolute;
    top: 15px;
    right: 30px;
}

p.text-formation{
    position: absolute;
    left: 10%;
}

#formation-select {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #0f9bb4;
    color: white;
}

#formation-select option {
    font-size: 14px;
    padding: 5px;
}

.adresse-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 39%;
    left: 25%;
}

p.text-adresse{
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.input-adresse {
    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.ville-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-50%,-50%);
    bottom: 27%;
    left: 25%;
    position: absolute;
}

p.text-ville{
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.input-ville {
    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.mdp-rectangle{

    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-50%,-50%);
    bottom: 63%;
    left: 75%;
    position: absolute;

}

.input-mdp{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

.mail-rectangle{

    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-50%,-50%);
    bottom: 75%;
    left: 75%;
    position: absolute;

}

.input-mail{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}


.cp-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 51%;
    left: 75%;
}

.input-cp{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

.date-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 39%;
    left: 75%;
}

.input-date{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

.cv-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 27%;
    left: 75%;
}

.input-cv{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

.anneeetude-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 27%;
    left: 75%;
}

.input-anneeetude{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

.ine-rectangle{
    width: 300px;
    height: 50px;
    background-color: #0f9bb4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 15%;
    right: 32%;
}

.input-ine{

    width: 290px;
    height: 40px;
    position: absolute;
    background-color: #0f9bb4;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;

}

p.info {
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 76.5%;
    left: 50%;
    position: absolute;
}

p.lien-info {
    position: absolute;
    font-size: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    top: 75.5%;
    left: 48.5%;
}

@media screen and (min-width: 768px) {
    p.info {
        top: 79.5%;
        left: 50%;
    }

    p.lien-info {
        top: 80.5%;
        left: 48.2%;
    }
}


.btnCreation {
    text-decoration: none;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f9bb4; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: 45px;
    border-radius: 45px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}

.btnCreation:hover {
    text-decoration: none;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f9bb4; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;

}

.btnRetour{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 110px;
    height: 45px;
    border-radius: 45px;
    transition: box-shadow 0.3s ease;
    font-weight: bold;

}

.btnRetour:hover{

    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #808080; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
    color: black;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #333333;
    transition: box-shadow 0.3s ease;
    font-weight: bold;

}

div.rec-connection {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 120px;
    border-radius: 40px;
    z-index: 3;
}


.p-connection{

    text-align: center;

}


.link-connection{

    text-decoration: none;
    color: inherit;

}

