.body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #ff9033, #F79BFF, #7795FF, #0F44FF);
}

.square-link {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: inherit; /* Utiliser la couleur du texte parent (blanc) */
    margin: 0 40px; /* Espace entre les carrés */
}

.quitter-square {
    width: 150px; /* Largeur du carré */
    height: 50px; /* Hauteur du carré */
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 30px;
}

.quitter-square p {
    margin: 0;
    font-size: 1rem; /* Taille du texte */
}

.perso{

    width: 150px;
    height: 150px;
    position: absolute;
    top: 49%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Pour centrer parfaitement */
    z-index: 1;
}

.princi-rectangle {
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    z-index: 0;
}

.cercle {
    width: 100px;
    height: 100px;
    background-color: #7795FF;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nom-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 160px;
    right: 30px;
    position: absolute;


}

p.text-nom{

    position: absolute;
    left: 10px;
    bottom: 6px;
}

.input-nom {
    position: absolute;
    top: 12px;
    right: 50px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white; /* Couleur du texte à l'intérieur de l'input */
}

.prenom-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 80px;
    right: 30px;
    position: absolute;

}

p.text-prenom{

    position: absolute;
    left: 10px;
    bottom: 6px;
}
.input-prenom {
    position: absolute;
    top: 12px;
    right: 50px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white; /* Couleur du texte à l'intérieur de l'input */
}


.formation-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0px;
    right: 30px;
    position: absolute;

}

.formation-text{

    position: absolute;
    top: 18px;
    right: 225px;

}

.selectFormation{

    background-color: rgb(119, 149, 255,0.68);
    position: absolute;
    top: 15px;
    right: 30px;

}


p.text-formation{

    position: absolute;
    left: 10%;

}

#formation-select {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    padding: 13px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(119, 149, 255,0.68);
    color: white;
}

/* Styles CSS pour les options du menu déroulant */
#formation-select option {
    font-size: 14px;
    padding: 5px;
}

#status-select {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    padding: 13px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(119, 149, 255,0.68);
    color: white;
}

/* Styles CSS pour les options du menu déroulant */
#status-select option {
    font-size: 14px;
    padding: 5px;
}

.mail-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 160px;
    left: 30px;
    position: absolute;

}

p.text-mail{

    position: absolute;
    left: 10px;
    bottom: 6px;
}

.input-mail {
    position: absolute;
    top: 12px;
    right: 50px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white; /* Couleur du texte à l'intérieur de l'input */
}

.mdp-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 80px;
    left: 30px;
    position: absolute;

}

p.text-mdp{

    position: absolute;
    left: 10px;
    bottom: 8px;
}

.input-mdp {
    position: absolute;
    top: 12px;
    right: 30px;
    background-color: rgb(119, 149, 255, 0.68); /* Couleur de fond du rectangle */
    border: none; /* Supprimez les bordures par défaut */
    border-radius: 10px; /* Arrondissez les coins comme le rectangle */
    padding: 5px; /* Ajoutez un peu d'espacement interne */
    color: white; /* Couleur du texte à l'intérieur de l'input */
}

.status-rectangle{

    width: 300px; /* Largeur du rectangle (ajustez selon vos besoins) */
    height: 50px; /* Hauteur du rectangle (ajustez selon vos besoins) */
    background-color: rgb(119, 149, 255,0.68); /* Couleur de fond du rectangle */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0px;
    left: 30px;
    position: absolute;

}

.status-text{

    position: absolute;
    top: 18px;
    right: 250px;

}

.selectStatus{

    background-color: rgb(119, 149, 255,0.68);
    position: absolute;
    top: 16px;
    right: 50px;

}


p.text-status{

    position: absolute;
    left: 10%;

}

#status-select {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    padding: 13px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(119, 149, 255,0.68);
    color: white;
}

/* Styles CSS pour les options du menu déroulant */
#status-select option {
    font-size: 14px;
    padding: 5px;
}

p.info {
    position: absolute;
    font-size: 12px;
    text-align: center;
    top: 300px;
    bottom: 300px;
    transform: translateX(-50%);
}

p.lien-info{

    position: absolute;
    font-size: 12px;
    text-align: center;
    top: 75%;
    left: 48%;
    color:white;
    text-decoration: underline;


}

.btnCreation {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprimer le contour */
    font-family: Arial, sans-serif; /* Changer la police d'écriture en Arial */
    font-size: 16px; /* Taille de la police */
}

div.rec-connection {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50px;
    border-radius: 40px;
    z-index: 3;
}


.p-connection{

    text-align: center;

}


.link-connection{

    text-decoration: none;
    color: inherit;

}

@media screen and (max-width: 1536px) {

    .cercle {
        width: 100px;
        height: 100px;
        background-color: #7795FF;
        border-radius: 50%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .info {
        position: absolute;
        font-size: 12px;
        text-align: center;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
    }

    p.lien-info{

        position: absolute;
        font-size: 12px;
        text-align: center;
        top: 81%;
        left: 48%;
        color:white;
        text-decoration: underline;

    }

    .rec-connection {
        width: 150px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        z-index: 3;
    }

    .p-connection{

        text-align: center;

    }

    .link-connection{

        text-decoration: none;
        color: inherit;

    }


}








