.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #ff9033, #F79BFF, #7795FF, #0F44FF);
}

.square-link {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: inherit; /* Utiliser la couleur du texte parent (blanc) */
    margin: 0 40px; /* Espace entre les carrés */
}

.quit {
    text-decoration: none;
    color: inherit;
    border: none; /* Supprimez les bordures autour du bouton */
    background: none; /* Supprimez l'arrière-plan du bouton */
    cursor: pointer; /* Changez le curseur pour indiquer que c'est un bouton cliquable */
}


.quitter-square {
    width: 150px; /* Largeur du carré */
    height: 50px; /* Hauteur du carré */
    background-color: rgba(255, 255, 255, 0.3); /* Couleur grise transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 30px;
}



.title{

    text-align: center;

}