<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale</title>

    <link rel="stylesheet" type="text/css" href="../asserts/css/main.css">
    <link rel="icon" href="../asserts/img/logo.png" type="image/x-icon">
</head>
<body class="body">

<header class="header">

</header>

<div class="message">
    <h1>Bienvenue dans notre<br> gestionnaire des candidats<br> en alternance</h1>
</div>

<a href="ViewConnexion.html" class="square-link">
    <div class="square">
        <p>connexion</p>
    </div>
</a>

<br>

<a href="ViewNouvCompte.php" class="square-link">
    <div class="square">
        <p>inscription</p>
    </div>
</a>

</body>
</html>
