<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale</title>

    <link rel="stylesheet" type="text/css" href="../asserts/css/connexionEtu.css">
    <link rel="icon" href="../asserts/img/logo.png" type="image/x-icon">
</head>
<body class="body">
<header class="header">

    <div class="cercle">
        <img src="../asserts/img/perso.png" class="perso" alt="Perso en haut du rectangle principal">
    </div>

    <div class="princi-rectangle">
        <form action="../Controller/ControllerConnexion.php" method="post">
            <div class="id-rectangle">
                <div class="petit-rectangle">
                    <img src="../asserts/img/perso2.png" class="perso2" alt="Petit perso id">
                </div>
                <label>
                    <input type="text" name="Email" placeholder="Email" class="input-mail">
                </label>
            </div>

            <div class="mdp-rectangle">
                <div class="petit2-rectangle">
                    <img src="../asserts/img/cadena.png" class="cadena" alt="Petit cadenas mdp">
                </div>
                <label>
                    <input type="password" name="MotDePasse" placeholder="Mot de passe" class="input-mdp">
                </label>
            </div>

            <a href="ViewOubliMotDePasse.php" class="link-p">
                <p class="mdp-oublie">Mot de passe oublié ?</p>
            </a>

            <input type="submit" name="valider" value="Connexion" class="btnConnexion">


        </form>
    </div>

</header>



    <button name="btnRetour" onclick="window.location.href= 'ViewAvConnexion.html'" class="btnRetour"> Retour </button>


</body>
</html>
