
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Principale</title>
    
    <link rel="stylesheet" type="text/css" href="../asserts/css/nouCompteEtu.css" >
    <link rel="icon" href="../asserts/img/logo.png" type="image/x-icon">
</head>
<body class="body">

    <header class="header">

        <div class="cercle">

            <div class="perso">

                <img src="../asserts/img/perso.png" class="perso" alt="Perso en haut du rectangle principale">
                    
    
            </div>

        </div>

        

        <div class="princi-rectangle">

            <form action="../Controller/ControllerCreation.php" method="post">
                <div class="nom-rectangle">

                    <label>
                        <input type="text" name="nom" class="input-nom" placeholder="Nom">
                    </label>

                </div>

                <div class="prenom-rectangle">


                    <label>
                        <input type="text" name="prenom" class="input-prenom" placeholder="Prenom">
                    </label>

                </div>

                <div class="formation-rectangle">

                    <label for="formation-select"></label><select id="formation-select" name="formation">
                        <option value="informatique">BUT informatique</option>
                        <option value="marketing">Responsable pédagogique</option>
                        <option value="finance">Chargés de développement</option>
                        <option value="finance">Responsable du service</option>
                    </select>

                </div>

                <div class="mail-rectangle">

                    <label>
                        <input type="email" name="email" class="input-mail" placeholder="Email">
                    </label>

                </div>

                <div class="mdp-rectangle">

                    <label>
                        <input type="password" name="mdp" class="input-mdp" placeholder="Mot de Passe">
                    </label>
                </div>

                <div class="adresse-rectangle">

                    <label>
                        <input type="text" name="adresse" class="input-adresse" placeholder="Adresse">
                    </label>
                </div>

                <div class="ville-rectangle">

                    <label>
                        <input type="text" name="ville" class="input-ville" placeholder="Ville">
                    </label>
                </div>

                <div class="cp-rectangle">

                    <label>
                        <input type="text" name="cp" class="input-cp" placeholder="Code Postale">
                    </label>
                </div>

                <div class="date-rectangle">

                    <label>
                        <input type="date" name="date" class="input-date">
                    </label>
                </div>

                <div class="cv-rectangle">

                    <input type="file" name="cv" class="input-cv">
                </div>

                <div class="anneeetude-rectangle">

                    <label>
                        <input type="number" name="anneeetude" class="input-anneeetude" placeholder="Année d'étude">
                    </label>
                </div>

                <div class="ine-rectangle">

                    <label>
                        <input type="text" name="ine" class="input-ine" placeholder="INE">
                    </label>
                </div>

                <div>

                    <input type="submit" name="valider" value="Création" class="btnCreation">

                </div>




            </form>

        </div>

        <p class="info">Si vous possédez déjà un compte veuillez vous connecter en appuyant ici :</p>
        <a href="ViewConnexionAdmin.php" class="lien"><p class="lien-info">Connexion</p></a>





    </header>

    

</body>




</html>